@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro";
/* wheel */
@keyframes roulette-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* history sidebar */
/* placeholder styling */
html, body {
  height: 100%;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.spins-container {
  position: fixed;
  display: flex;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.spins-sidebar {
  flex: 1;
  padding: 1em 2.5em;
}
@media (max-width: 768px) {
  .spins-sidebar {
    display: none;
  }
}
.spins-wheel {
  flex: 4;
  overflow: scroll;
}
.spins-placeholder {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}
.spins-placeholder-content {
  text-align: center;
}

/* wheel style */
.roulette-wheel {
  height: auto;
  width: 90%;
  margin: 0 auto;
  display: block;
}
.roulette-wheel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.roulette-wheel-content {
  width: 60%;
  position: relative;
}
@media (max-width: 768px) {
  .roulette-wheel-content {
    width: 75%;
  }
}
.roulette-wheel-spin {
  position: absolute;
  -webkit-transition: transform 5s cubic-bezier(0.39, 0.58, 0.57, 1);
  -moz-transition: transform 5s cubic-bezier(0.39, 0.58, 0.57, 1);
  transition: transform 5s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.roulette-wheel-label {
  font-size: 0.09px;
  letter-spacing: 0.004px;
  font-weight: bolder;
  fill: white;
  paint-order: stroke;
  stroke: black;
  stroke-width: 0.01px;
  text-transform: uppercase;
}
.roulette-wheel-result {
  font-size: 0.12px;
  text-anchor: middle;
  fill: #3f51b5;
  letter-spacing: 0.004px;
  text-transform: uppercase;
  font-weight: bolder;
}
.roulette-wheel-marker {
  fill: #ffeb3b;
}
.roulette-wheel-controls {
  display: flex;
  justify-content: center;
  margin-top: 2.3em;
}

.wheels-list {
  list-style-type: none;
  padding: 0;
}
.wheels-list-item {
  border-bottom: 2px solid black;
  padding: 1.3em 1em;
  transition: 0.25s background-color;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wheels-list-item:hover {
  cursor: pointer;
  color: #3f51b5;
  border-color: #3f51b5;
}
.wheels-list-item-delete {
  opacity: 0.5;
  margin-top: 3px;
}
.wheels-list-item-delete:hover {
  color: #e74c3c;
  opacity: 1;
}
.wheels-list-item.is-selected {
  color: #3f51b5;
  border-color: #3f51b5;
}
.wheels-add {
  margin-top: 1.2em;
  text-align: center;
}
.wheels-add i {
  font-size: 1.6em;
}
.wheels-add i:hover {
  cursor: pointer;
  color: #3f51b5;
}

/* button styling */
.btn {
  width: 150px;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  font-size: 0.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bolder;
  border: 3px solid;
  border-radius: 40px;
}
.btn > span {
  display: block;
}
.btn:hover {
  border-color: #3f51b5;
  color: #3f51b5;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn:active {
  border-color: #a29bfe;
  color: #a29bfe;
}

/* form styling */
.wheel-form-container {
  display: flex;
  margin-top: 3em;
  justify-content: center;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .wheel-form-container {
    display: block;
  }
}
.wheel-form-controls {
  text-align: center;
  margin-bottom: 1em;
}
.wheel-form-add i {
  font-size: 1.6em;
}
.wheel-form-add i:hover {
  cursor: pointer;
  color: #3f51b5;
}
.wheel-form-title {
  text-align: center;
}
.wheel-form-input {
  text-align: center;
  position: relative;
}
.wheel-form-input-container {
  margin-bottom: 1em;
}
.wheel-form-input-delete {
  position: relative;
  left: -26px;
  opacity: 0.5;
}
.wheel-form-input-delete:hover {
  color: #e74c3c;
  opacity: 1;
  cursor: pointer;
}
.wheel-form-input-offset input {
  left: 9px;
}
.wheel-form-input input {
  position: relative;
  border: 3px solid black;
  border-radius: 40px;
  font-size: 0.9em;
  margin: 1em auto;
  display: inline-block;
  outline: 0;
  padding: 1em 2em;
  width: 60%;
}
.wheel-form-input input::placeholder {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.wheel-form-input input:focus {
  border-color: #3f51b5;
}
.wheel-form-input input:focus::placeholder {
  color: #3f51b5;
}

/*# sourceMappingURL=main.css.map */
