@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro";

$red: #e74c3c;
$dark-purple: #3f51b5;
$light-purple: #a29bfe;
$yellow: #ffeb3b;
$source-sans-pro: 'Source Sans Pro', sans-serif;

/* wheel */
@keyframes roulette-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* history sidebar */
/* placeholder styling */
html, body {
	height: 100%;
	margin: 0;
	font-family: $source-sans-pro;
}

.spins {
  &-container {
    position: fixed;
    display: flex;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-sidebar {
    flex: 1;
    padding: 1em 2.5em;

    @media (max-width: 768px) {
  		display: none;
    }
  }

  &-wheel {
    flex: 4;
    overflow: scroll;
  }

  &-placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    // align-items: center;

    &-content {
    	text-align: center;
    }
  }
}

/* wheel style */

.roulette-wheel {
	height: auto;
	width: 80%;
	margin: 0 auto;
  display: block;

  @media (max-width: 768px) {
    width: 95%;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  &-content {
    width: 60%;
    position: relative;

    @media (max-width: 768px) {
  		width: 80%;
    }
  }

  &-spin {
    position: absolute;
    -webkit-transition: transform 5s cubic-bezier(0.39, 0.58, 0.57, 1);
    -moz-transition: transform 5s cubic-bezier(0.39, 0.58, 0.57, 1);
    transition: transform 5s cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  &-label {
    font-size: 1.2em;
    letter-spacing: 0.75px;
    font-weight: bolder;
    fill: white;
    paint-order: stroke;
    stroke: black;
    stroke-width: 1px;
    text-transform: uppercase;
    text-anchor: middle;
    dominant-baseline: central;
  }

  &-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    height: 2em;
    margin-bottom: 0.9em;
    font-size: 1.5em;
    color: $dark-purple;
    letter-spacing: 0.004px;
    text-transform: uppercase;
    font-weight: bolder;

    &-text {
      padding: 0 0.5em 0.3em 0.5em;
      border-bottom: 3px solid $light-purple;
    }
  }

  &-marker {
    fill: $yellow;
  }

  &-controls {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}

.wheels {
  &-list {
    list-style-type: none;
    padding: 0;

    &-item {
      border-bottom: 2px solid black;
      padding: 1.3em 1em;
      transition: 0.25s background-color;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        cursor: pointer;
        color: $dark-purple;
        border-color: $dark-purple;
      }

      &-delete {
        opacity: 0.5;
        margin-top: 3px;
        &:hover {
          color: $red;
          opacity: 1;
        }
      }

      &.is-selected {
        color: $dark-purple;
        border-color: $dark-purple;
      }
    }
  }

  &-add {
    margin-top: 1.2em;
    text-align: center;
    i {
      font-size: 1.6em;
      &:hover {
        cursor: pointer;
        color: $dark-purple;
      }
    }
  }
}

/* button styling */

.btn {
	width: 150px;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	position: relative;
	font-size: 0.9em;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bolder;
	border: 3px solid;
  border-radius: 40px;

	> span {
		display: block;
  }

	&:hover {
		border-color: $dark-purple;
		color: $dark-purple;
		cursor: pointer;
  }

	&:focus {
		outline: none;
  }

	&:active {
		border-color: $light-purple;
		color: $light-purple;
	}
}

/* form styling */
.wheel-form {
  &-container {
    display: flex;
    // align-items: center;
    margin-top: 3em;
    justify-content: center;
    height: 100%;
    width: 100%;

    @media (max-width: 768px) {
  		display: block;
    }
  }

  &-controls {
    text-align: center;
    margin-bottom: 1em;
  }

  &-add i {
    font-size: 1.6em;
    &:hover {
      cursor: pointer;
      color: $dark-purple;
    }
  }

  &-title {
    text-align: center;
  }

  &-input {
    text-align: center;
    position: relative;

    &-container {
      margin-bottom: 1em;
      // max-height: 300px;
      // overflow: scroll;
    }

    &-delete {
      // margin-left: -35px;
      position: relative;
      left: -26px;
      opacity: 0.5;
      &:hover {
        color: $red;
        opacity: 1;
        cursor: pointer;
      }
    }

    &-offset {
      input {
        left: 9px;
      }
    }

    input {
      position: relative;
      border: 3px solid black;
      border-radius: 40px;

      font-size: 0.9em;
      margin: 1em auto;
      display: inline-block;
      outline: 0;
      padding: 1em 2em;
      width: 60%;

      &::placeholder {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
      }

      &:focus {
        border-color: $dark-purple;
        &::placeholder {
          color: $dark-purple;
        }
      }
    }
  }
}